name: Backend CI

on:
  push:
    branches: [ main, be ]
  pull_request:
    branches: [ main, be ]

jobs:
  go-backend:
    name: Build Go Backend
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25.0'
          cache: true

      - name: Install dependencies
        run: go mod download

      - name: Build
        run: go build -v -o study-be ./cmd/main.go

  python-transaction-api:
    name: Build Python Transaction API
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'
          cache: 'pip'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f transaction/requirements.txt ]; then pip install -r transaction/requirements.txt; fi

      - name: Lint check
        run: python -m py_compile transaction/api.py

  docker-check:
    name: Docker Build Verification
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Transaction API Image
        run: docker build -t simple-mbbank-api -f transaction/dockerfile .
